<main>
        <div class="p-3">
            <h2 class="text-center text-light">Featured Songs</h2>
            <div class="container animate__animated animate__fadeInUp">
            <ol class="container ">
            {{#each songs as |song|}}
            {{>inventory-cards}}
            {{/each}}
            </ol>    
            </div> 
            </div>
        </div>
    </main>

