<h1>route</h1>
<div class = "column">
    <!--Grouping Login and Sign-up Portions together (Both in login.js for functions)-->
    <div class = "login-portion">
        <h1>Login</h1>

        <form class="login-form">
            <div class="portion">
                <label for="email-log">E-mail:</label>
                <input class="form-input" type="text" id="emailogin"/>
            </div>
            <div class="portion">
                <label for="password-log">E-mail:</label>
                <input class="form-input" type="text" id="password-login"/>
                <button class="button" type="submit">login</button>
            </div>
        </form>
    </div>
    <div class = "signup-portion">
        <h2>Sign-Up</h2>
        <form class="signup-form">
            <div class="portion">
                <label for="email-sign">E-mail:</label>
                <input class="form-input" type="text" id="emailsign"/>
            </div>
            <div class="portion">
                <label for="password-sign">E-mail:</label>
                <input class="form-input" type="text" id="password-sign"/>
                <button class="button" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<script src="../public/login.js"></script>