<div class="row justify-content-center">
<div class="col-md-9">
{{> inventory-cards song}}
</div>  </div>
{{#if loggedIn}}
<div class="">
  <div class="row justify-content-center">
    <div class="card col-md-6">
      <form class="comment-form">
        <div class="m-3">
          <textarea class="comment-body" name="comment-body"></textarea>
        </div>

        <div class="row justify-content-center">
          <button type="submit" class="btn-primary rounded m-3">Add Comment</button>
          <button type="button" class="upvote-btn btn-primary rounded m-3" id="upvote-btn">Vote</button>
          <button type="delete" class="btn-danger rounded m-3" id="delete-song-btn">Delete Song</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/if}}

<div class="row justify-content-center">
    <div class="card col-md-6 m-3">

{{> comments song.comments}}

</div></div>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
<script src="/js/upvote.js"></script>
<script src="/js/delete-song.js"></script>
{{/if}}