html {
    background-color: beige;
}

header {
    text-align: center;
}

body {
    background-color: beige !important;
}

.column {
    background-color: olive;
    border-style: solid;
    border-width: 10 px;
    border-color: darkolivegreen;
    padding: 0 0 15px 0;
}

footer {
    text-align: center; 
    text-decoration: none;
}

.comment-body {
    height: 120px;
    width: 590px;
}

#song-pic {
    width: 200px;
    height: 300px;
}
.inv-head {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}